body{
	background-color: #2F4F75;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

input, label{
	display: block;
	margin: auto;
	text-align: center;
}

label{
	padding: 5px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	color: white;
}

input{
	padding: 3px;
	font-family: "Roboto Mono", monospace;
	font-size: 18px;
	color: white;
	border: none;
	border-radius: 3px;
	width: 150px;
	background-color: #18375C;
}

canvas{
	background-color: rgba(0, 0, 0, 0);
	display: block;
	margin: 10px auto; 
	margin-top: 40px;
}

h1{
	color: #A63A50;
	font-family: "Roboto", monospace;
	font-size: 3.5em;
	text-align: center;
}

.slider{
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 12px;
	margin-top: 10px;
	background: rgba(220, 220, 220, 100);
	outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #A63A50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background: #A63A50;
    cursor: pointer;
}